# API keys and secrets
.env

# Dependency directory
node_modules

# Editors
.idea
*.iml
.vscode/settings.json

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*
.pio/
public/bundle.js
public/bundle.js.map
public/bundle.LICENSE.txt