body {
    padding: 50px;
    background-color: black;
    color: #fff;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

h1 span {
    color: red;
}

.success {
    color: green;
}

.error {
    color: red;
}

#buttons {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    flex-direction: row;
    gap: 16px;
}

#sentence {
    display: block;
    margin-top: 20px;
    white-space: wrap;
}

.button {
    border-radius: 50%;
    background-color: rgb(147, 7, 7);
    width: 100px;
    height: 100px;
    border: 5px solid black;
    color: #fff;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
}

.button.success {
    background-color: green;
}

.button.late {
    opacity: 0.5;
}

.button.wrong {
    background-color: red;
    opacity: 0.5;
}

.button.other_is_wrong {
    background-color: green;
}
